.Product-Item {
  width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Product-Item_status_disabled {
  pointer-events: none;
}

.Product-Card {
  padding: 20px 45px 0;
  margin-bottom: 19px;
  width: 100%;
  height: 100%;
  position: relative;
  color: #666666;
  font-family: "Trebuchet MS";
  background-color: #f2f2f2;
  background:linear-gradient(135deg, transparent 30px, #f2f2f2 0);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.Product-Card::before {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
  content: '';
  background: linear-gradient(135deg, transparent 31px, #1698d9 0);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: -1;
  transition: background 0.25s ease;
}

.Product-Item:hover .Product-Card::before {
  background: linear-gradient(135deg, transparent 31px, #2ea8e6 0);
}

.Product-Item_selected:hover .Product-Card::before {
  background: linear-gradient(135deg, transparent 31px, #e62e7a 0);
}

.Product-Item_status_disabled:hover .Product-Card::before {
  background: linear-gradient(135deg, transparent 31px, #b3b3b3 0);
}

.Product-Item_status_disabled .Product-Card::before {
  background: linear-gradient(135deg, transparent 31px, #b3b3b3 0);
}

.Product-Item_selected .Product-Card::before {
  background: linear-gradient(135deg, transparent 31px, #d91667 0);
}

.Product-Description {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.Product-Item_selected .Product-DescriptionText {
  display: none;
}

.Product-Item_selected:hover .Product-DescriptionText {
  display: block;
}

.Product-Hint {
  display: none;
  color: #e62e7a;
}

.Product-Item_selected:hover .Product-Hint {
  display: none;
}

.Product-Item_selected .Product-Hint {
  display: block;
}

.Product-Item_status_disabled .Product-Description {
  opacity: 0.5;
}

.Product-Company {
  color: #000000;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

.Product-Item_status_disabled .Product-Company {
  opacity: 0.5;
}

.Product-Taste {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.Product-Item_status_disabled .Product-Taste {
  opacity: 0.5;
}

.Product-Promo {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.Product-Item_status_disabled .Product-Promo {
  opacity: 0.5;
}

.Product-Image {
  position: absolute;
  bottom: 0;
  left: 0px;
}

.Product-Item_status_disabled .Product-Image {
  opacity: 0.5;
}

.Product-Serving {
  position: absolute;
  bottom:11px;
  right: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: #1698d9;
  border-radius: 50%;
  color: #ffffff;
  font-size: 42px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  transition: background-color 0.25s ease;
}

.Product-Item_status_disabled .Product-Serving {
  background-color: #b3b3b3;
}

.Product-Item_selected .Product-Serving {
  background-color: #d91667;
}

.Product-Item:hover .Product-Serving {
  background-color: #2ea8e6;
}

.Product-Item_selected:hover .Product-Serving {
  background-color: #e62e7a;
}

.Product-Item_status_disabled:hover .Product-Serving {
  background-color: #b3b3b3;
}

.Product-Weight {
  margin-top: 3px;
}

.Product-Units {
  font-size: 21px;
  margin-top: 5px;
}

.Product-Info {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.Product-Link {
  margin-left: 5px;
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
}

.Product-Item:hover .Product-Link {
  color: #2ea8e6;
  border-color: #2ea8e6;
}

.Product-Item_status_disabled .Product-Info {
  color: #ffff66;
}
